<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hacknc.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HackNC App</name>
    <description>
    	The HackNC Day-Of App
    </description>
    <author email="dayofapp@hacknc.com" href="http://hacknc.com">
        HackNC
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />

    <preference name="permissions" value="none" />
    <preference name="fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <!--<preference name="ios-statusbarstyle" value="black-opaque" />-->
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="BackupWebStorage" value="none" />
    <!--gap:plugin name="org.apache.cordova.battery-status" /-->
    <!--gap:plugin name="org.apache.cordova.camera" /-->
    <!--gap:plugin name="org.apache.cordova.media-capture" /-->
    <!--gap:plugin name="org.apache.cordova.console" /-->
    <!--gap:plugin name="org.apache.cordova.contacts" /-->
    <gap:plugin name="org.apache.cordova.device" />
    <!--gap:plugin name="org.apache.cordova.device-motion" /-->
    <!--gap:plugin name="org.apache.cordova.device-orientation" /-->
    <!--gap:plugin name="org.apache.cordova.dialogs" /-->
    <!--gap:plugin name="org.apache.cordova.file" /-->
    <!--gap:plugin name="org.apache.cordova.file-transfer" /-->
    <!--gap:plugin name="org.apache.cordova.geolocation" /-->
    <!--gap:plugin name="org.apache.cordova.globalization" /-->
    <!--gap:plugin name="org.apache.cordova.inappbrowser" /-->
    <!--gap:plugin name="org.apache.cordova.media" /-->
    <!--gap:plugin name="org.apache.cordova.network-information" /-->
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <!--gap:plugin name="org.apache.cordova.vibration" /-->

    <!--fix the ios statusbar-->
    <gap:plugin name="com.phonegap.plugin.statusbar" version="0.1.3" source="npm" />
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#463e47" />
    <preference name="StatusBarStyle" value="lightcontent" />    

    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
    <icon gap:platform="blackberry" src="res/icon/blackberry/icon-80.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="res/icon/blackberry/icon-80.png" />

    <!--ios icons-->
    <!--ios 7+-->
    <icon gap:platform="ios" src="res/icon/ios/icon-76.png" width="76" height="76" />
    <icon gap:platform="ios" src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
    <icon gap:platform="ios" src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
    <icon gap:platform="ios" src="res/icon/ios/icon-167@2x.png" width="167" height="167" />
    <icon gap:platform="ios" src="res/icon/ios/icon-60@3x.png" width="180" height="180" />

    <!--ios 6-->
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />    
    <!--end ios icons-->

    <icon gap:platform="webos" src="res/icon/webos/icon-64.png" />
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173.png" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />
    <gap:splash gap:qualifier="land-ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-landscape.png" />
    <gap:splash gap:qualifier="land-mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-landscape.png" />
    <gap:splash gap:qualifier="land-hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-landscape.png" />
    <gap:splash gap:qualifier="land-xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-landscape.png" />
    <gap:splash gap:platform="blackberry" src="res/screen/blackberry/screen-225.png" />

    <!--ios launch images-->
    <platform name="ios">
        <splash src="res/screen/ios/640x960-landscape-@2x.png" width="960" height="640" />
        <splash src="res/screen/ios/640x960-portrait-@2x.png" width="640" height="960" />
        <splash src="res/screen/ios/640x1136-landscape-@2x.png" width="1136" height="640" />
        <splash src="res/screen/ios/640x1136-portrait-@2x.png" width="640" height="1136" />
        <splash src="res/screen/ios/750x1334-landscape-@2x.png" width="1334" height="750" />
        <splash src="res/screen/ios/750x1334-portrait-@2x.png" width="750" height="1334" />
        <splash src="res/screen/ios/768x1024-landscape.png" width="1024" height="768" />
        <splash src="res/screen/ios/768x1024-portrait.png" width="768" height="1024" />
        <splash src="res/screen/ios/1242x2208-landscape-@3x.png" width="2208" height="1242" />
        <splash src="res/screen/ios/1242x2208-portrait-@3x.png" width="1242" height="2208" />
        <splash src="res/screen/ios/1536x2048-landscape-@2x.png" width="2048" height="1536" />
        <splash src="res/screen/ios/1536x2048-portrait-@2x.png" width="1536" height="2048" />
        <splash src="res/screen/ios/2048x2732-landscape-@2x.png" width="2732" height="2048" />
        <splash src="res/screen/ios/2048x2732-portrait-@2x.png" width="2048" height="2732" />        
    </platform>
    <!--end ios launch images-->

    <gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg" />

    <gap:plugin name="phonegap-plugin-push" source="npm" version="1.2.3" />

    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

</widget>
